<div class="d-flex flex-gap-2 pb-2">
	<p-button label="Primary" class="" size="small" />
	<p-button label="Secondary" size="small" severity="secondary" />
	<p-button label="Success" size="small" severity="success" />
	<p-button label="Warn" size="small" severity="warn" />
	<p-button label="Info" size="small" severity="info" />
	<p-button label="Help" size="small" severity="help" />
	<p-button label="Danger" size="small" severity="danger" />
</div>

<div class="d-flex flex-gap-2 pb-2">
	<p-button label="Primary" />
	<p-button label="Secondary" severity="secondary" />
	<p-button label="Success" severity="success" />
	<p-button label="Warn" severity="warn" />
	<p-button label="Info" severity="info" />
	<p-button label="Help" severity="help" />
	<p-button label="Danger" severity="danger" />
</div>

<div class="d-flex flex-gap-2 pb-2">
	<p-button label="Primary" size="large" />
	<p-button label="Secondary" size="large" severity="secondary" />
	<p-button label="Success" size="large" severity="success" />
	<p-button label="Warn" size="large" severity="warn" />
	<p-button label="Info" size="large" severity="info" />
	<p-button label="Help" size="large" severity="help" />
	<p-button label="Danger" size="large" severity="danger" />
</div>


<div class="d-flex flex-gap-2 mt-5 pb-2">
    
    <p-splitbutton label="Save" (onClick)="save()" [model]="items" />
    <p-splitbutton label="Save" (onClick)="save()" [model]="items" severity="secondary" />
    <p-splitbutton label="Save" (onClick)="save()" [model]="items" severity="success" />
    <p-splitbutton label="Save" (onClick)="save()" [model]="items" severity="info" />
    <p-splitbutton label="Save" (onClick)="save()" [model]="items" severity="warn" />
    <p-splitbutton label="Save" (onClick)="save()" [model]="items" severity="help" />
    <p-splitbutton label="Save" (onClick)="save()" [model]="items" severity="danger" />
    <p-toast />
</div>
