<app-comp-row title="FM Brand Colors">
	<div class="card-wrap">
		<ng-container *ngFor="let color of _fmBrandColors">
			<app-tw-color-swatch [name]="color.name" [value]="color.value" prefix="fm">
			</app-tw-color-swatch>
		</ng-container>
	</div>
</app-comp-row>
<app-comp-row title="ADK Colors">
	<div class="card-wrap">
		<ng-container *ngFor="let color of _adkColors">
			<app-tw-color-swatch [name]="color.name" [value]="color.value" prefix="adk">
			</app-tw-color-swatch>
		</ng-container>
	</div>
</app-comp-row>
<app-comp-row title="UI Colors">
	<div class="card-wrap">
		<ng-container *ngFor="let color of _uiColors">
			<app-tw-color-ramp [ramp_values]="color.value" prefix="" [name]="color.name"></app-tw-color-ramp>
		</ng-container>
		<ng-container *ngFor="let color of _alphaColors">
			<app-tw-color-ramp [ramp_values]="color.value" [name]="color.name" prefix="alpha"></app-tw-color-ramp>
		</ng-container>
	</div>
</app-comp-row>
