<div class="border rounded-md overflow-hidden dark:border-surface-700">
	<div class="px-4 py-3 border-b dark:border-b-surface-700">
		<span class="text-sm font-semibold capitalize">{{prefix}} {{name}}</span>
	</div>
	<div class="w-56">
	<ng-container *ngFor="let color of rampColorList">
		<div class="flex bg-surface-300 dark:bg-surface-800">
			<div class="color-swatch"  [ngStyle]="{ backgroundColor: color.value }" >
				<span class="p-2 text-xs color-name" [class]="getContrastingTextColor(color.value)">
					{{color.level}}
				</span>
				<a (click)="pop.toggle($event)" class="btn-view-code"><span class="pi pi-code text-shadow" style="font-size:.75rem"></span></a>
			</div>
			<p-popover #pop>
				<ng-container *ngTemplateOutlet="popoverContent; context: { color: color }"></ng-container>
			</p-popover>
		</div>
	</ng-container>
	</div>
</div> 

<ng-template #popoverContent let-color="color">
	<div class="p-1">
		<div class="mb-4 pb-3 border-b border-b-surface-100 dark:border-b-surface-700">
			<p class="text-md pb-1 font-semibold  ">{{color.className}}</p>
			<p class="text-xs ps-1 opacity-70 select-all">
				{{color.value}}
			</p>
			<p class="text-xs ps-1 opacity-70 select-all">
				{{convertToHex(color.value)}}
			</p>
			<p class="text-xs ps-1 opacity-70 select-all">
				{{convertToRGB(color.value)}}
			</p>
		</div>
		<p class="text-xs mb-2 font-semibold">CSS Var:</p>
		<app-code-copy text="var(--p-{{color.className}})"></app-code-copy>
		<p class="text-xs mb-2 font-semibold mt-4">Tailwind Classes:</p>
		<div class="flex-row gap-2">
			<app-code-copy styleClass="mb-1" text="{{color.classPrefix }}bg-{{color.className }}"></app-code-copy>
			<app-code-copy styleClass="mb-1" text="{{color.classPrefix }}text-{{color.className }}"></app-code-copy>
			<app-code-copy styleClass="mb-1" text="{{color.classPrefix }}border-{{color.className }}"></app-code-copy>
			<!-- <app-code-copy styleClass="mb-1" text="ring-{{color.classPrefix + color.name }}"></app-code-copy>
			<app-code-copy styleClass="mb-1" text="outline-{{color.classPrefix + color.name }}"></app-code-copy>
			<app-code-copy styleClass="mb-1" text="caret-{{color.classPrefix + color.name }}"></app-code-copy> -->
		</div>
		<!-- <p class="mt-4 mb-2 font-semibold text-xs">
			Color
		</p> -->
		<div class="flex-row gap-2">
			<!-- <app-code-copy styleClass="mb-2" text="{{color.value}}"></app-code-copy> -->
			<!-- 	<app-code-copy styleClass="mb-2" text="{{convertToHex(color.value)}}"></app-code-copy>
			<app-code-copy styleClass="mb-2" text="{{convertToRGB(color.value)}}"></app-code-copy> -->
		</div>
	</div>
</ng-template>
