<h3 class="text-xl font-bold mt-10 mb-2">Brand Colors</h3>
<ul class="flex gap-4 flex-wrap">
	<ng-container *ngFor="let color of _fmBrandColors | keyvalue">
		<ng-container *ngTemplateOutlet="colorTemplate; context: { key: color.key, value: color.value, prefix:'fm' }"></ng-container>
	</ng-container>
</ul>
<h3 class="text-xl font-bold mt-10 mb-2">ADK Colors</h3>
<ul class="flex gap-4 flex-wrap">
	<ng-container *ngFor="let color of _adkColors | keyvalue">
		<ng-container *ngTemplateOutlet="colorTemplate; context: { key: color.key, value: color.value, prefix:'adk' }"></ng-container>
	</ng-container>
</ul>
<ng-template #colorTemplate let-key="key" let-value="value" let-prefix="prefix">
	<li class="shadow-md bg-ground-0 p-0 inline-block rounded-md overflow-hidden border-ground-4 dark:border">
		<div class="bg-fm-navy h-24 w-52 rounded-sm border-b dark:border-b-slate-850" [style.background]="value"></div>
		<div class="p-4 !pt-3 flex">
			<div>
				<p class="capitalize text-sm font-bold"><span class="uppercase">{{prefix}}</span> {{ key }}</p>
				<p class="text-xs">{{ value }}</p>
			</div>
			<div class="text-end justify-center flex-auto item-center self-center">
				<p-button (click)="op.toggle($event)" icon="pi pi-code" severity="secondary" />
			</div>
			<p-popover #op >
				<div class="p-2">
					<!-- <p class="text-xs mb-2"><b>Color</b></p> -->
					<!-- <app-code-copy styleClass="mb-2" text="{{value}}"></app-code-copy> -->
					<!-- <app-code-copy styleClass="mb-2" text="{{convertToHex(value)}}"></app-code-copy> -->
					<!-- <app-code-copy styleClass="mb-2" text="{{convertToRGB(value)}}"></app-code-copy> -->
					<p class="text-xs mb-2"><b>CSS:</b></p>
					<app-code-copy text="var(--p-{{prefix}}-{{key}})"></app-code-copy>
					<p class="text-xs mb-2 mt-4"><b>Tailwind:</b></p>
					<div class="flex-row gap-2">
						<app-code-copy styleClass="mb-2" text="bg-{{prefix}}-{{ key }}"></app-code-copy>
						<app-code-copy styleClass="mb-2" text="text-{{prefix}}-{{ key }}"></app-code-copy>
						<app-code-copy styleClass="mb-2" text="border-{{prefix}}-{{ key }}"></app-code-copy>
					</div>
				</div>
			</p-popover>
		</div>
	</li>
</ng-template>
