<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<p-tabs value="colors">
					<p-tablist>
						<p-tab value="colors">Colors</p-tab>
                        <p-tab value="grids">Grids / Columns</p-tab>
                        <p-tab value="fonts">Fonts</p-tab>
                        <p-tab value="spacing">Spacing</p-tab>
					</p-tablist>
					<p-tabpanels>
						<p-tabpanel value="colors">
							 <app-tw-token-view></app-tw-token-view>
						</p-tabpanel>
						<p-tabpanel value="grids">
						</p-tabpanel>
						<p-tabpanel value="fonts">
							 <app-tw-fonts></app-tw-fonts>
						</p-tabpanel>
						<p-tabpanel value="spacing">
						</p-tabpanel>
					</p-tabpanels>
				</p-tabs>
			</div>
		</div>
	</div>
</div>
