<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<p-tabs value="0">
					<p-tablist>
						<p-tab value="0">Colors</p-tab>
                        <p-tab value="1">Grids / Columns</p-tab>
                        <p-tab value="2">Fonts</p-tab>
                        <p-tab value="3">Spacing</p-tab>
					</p-tablist>
					<p-tabpanels>
						<p-tabpanel value="0">
							 <!-- <app-tw-color-ramp></app-tw-color-ramp> -->

							 <app-tw-token-view></app-tw-token-view>
						</p-tabpanel>
						<p-tabpanel value="1">
						</p-tabpanel>
						<p-tabpanel value="2">
						</p-tabpanel>
						<p-tabpanel value="3">
						</p-tabpanel>
					</p-tabpanels>
				</p-tabs>
			</div>
		</div>
	</div>
</div>
