<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="display-card">
				<p-tabs value="4">
					<p-tablist>
						<p-tab value="0">Colors</p-tab>
                        <!-- <p-tab value="grids">Grids / Columns</p-tab> -->
                        <p-tab value="1">Fonts</p-tab>
                        <p-tab value="2">Cheat Sheet</p-tab>
						<p-tab value="3">Token Export</p-tab>
                        <p-tab value="4">Calculator</p-tab>
                        <!-- <p-tab value="spacing">Spacing</p-tab> -->
					</p-tablist>
					<p-tabpanels>
						<p-tabpanel value="0" class="test">
							 <app-tw-token-view></app-tw-token-view>
						</p-tabpanel>
						<p-tabpanel value="1">
							 <app-tw-fonts></app-tw-fonts>
						</p-tabpanel>
						<p-tabpanel value="2">
							<app-tw-cheat-sheet></app-tw-cheat-sheet>
						</p-tabpanel>
						<p-tabpanel value="3">
							<app-token-export></app-token-export>
						</p-tabpanel>
						<p-tabpanel value="4">
							<app-home-equity-calculator></app-home-equity-calculator>
						</p-tabpanel>
					</p-tabpanels>
				</p-tabs>
			</div>
		</div>
	</div>
</div>
