    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="display-card">
                    <p-tabs value="2">
                        <p-tablist>
                            <p-tab value="2">Buttons</p-tab>
                            <p-tab value="3">Inputs</p-tab>
                            <p-tab value="4">Data</p-tab>
                            <p-tab value="5">Panels</p-tab>
                            <p-tab value="6">File</p-tab>
                            <p-tab value="7">Media</p-tab>
                            <p-tab value="8">Messages</p-tab>
                            <p-tab value="9">Menu</p-tab>
                            <p-tab value="10">Misc</p-tab>
                            <p-tab value="11">Overlays</p-tab>
                            <p-tab value="12">Chat Demo</p-tab>
                        </p-tablist>
                        <p-tabpanels class="p-8">
                            <p-tabpanel value="2">
                         
                                <app-button-view></app-button-view>

                            </p-tabpanel>
                            <p-tabpanel value="3">
                                <app-input-view></app-input-view>
                            </p-tabpanel>
                            <p-tabpanel value="4">
                                <app-data-view></app-data-view>
                            </p-tabpanel>
                            <p-tabpanel value="5">
                                <app-panel-view></app-panel-view>
                            </p-tabpanel>
                            <p-tabpanel value="6">
                                <app-file-view></app-file-view>
                            </p-tabpanel>
                            <p-tabpanel value="7">
                                <app-media-view></app-media-view>
                            </p-tabpanel>
                            <p-tabpanel value="8">
                                <app-messages-view></app-messages-view>
                            </p-tabpanel>
                            <p-tabpanel value="9">
                                <app-menu-view></app-menu-view>
                            </p-tabpanel>
                            <p-tabpanel value="10">
                                <app-misc-view></app-misc-view>
                            </p-tabpanel>
                            <p-tabpanel value="11">
                                <app-overlay-view></app-overlay-view>
                            </p-tabpanel>
                             <p-tabpanel value="12">
                                <app-chat-demo></app-chat-demo>
                            </p-tabpanel>
                        </p-tabpanels>
                    </p-tabs>
                </div>
            </div>
        </div>
    </div>

