<app-header>
</app-header>
<div class="wrap bg-level-floor">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Hello World</h1>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-theme-toggle></app-theme-toggle>
        </div>
    </div>
  </div>    
</div>
<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-12 p-4">
        <p-button label="hello"></p-button>
      <div class="card">
   <p-tabs value="1">
        <p-tablist>
            <p-tab value="0">Buttons</p-tab>
            <p-tab value="1">Inputs</p-tab>
            <p-tab value="2">Data</p-tab>
            <p-tab value="3">Table</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <app-button-view></app-button-view>
            </p-tabpanel>
            <p-tabpanel value="1">
                <app-input-view></app-input-view>
            </p-tabpanel>
            <p-tabpanel value="2">
                 <app-data-view></app-data-view>
            </p-tabpanel>
             <p-tabpanel value="3">
                 <app-table-view></app-table-view>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs> 
</div>

      </div>
    </div>
  </div>
</div>
