<p>file-view works!</p>


<app-comp-row title="File Upload">

	<!-- <div class="card flex flex-col gap-6 items-center justify-center">
    <p-toast />
    <p-fileupload
        #fu
        mode="basic"
        chooseLabel="Choose"
        chooseIcon="pi pi-upload"
        name="demo[]"
        url="https://www.primefaces.org/cdn/api/upload.php"
        accept="image/*"
        maxFileSize="1000000"
        (onUpload)="onUpload($event)"
    />
    <p-button label="Upload" (onClick)="fu.upload()" severity="secondary" />
       
      </div>  

     -->

    Doesn't work yet

	
</app-comp-row>
