    .fm-bg-0 {
      background-color: var(--p-ground-0)!important;
    }
    .fm-bg-1 {
      background-color: var(--p-ground-1)!important;
    }
    .fm-bg-2 {
      background-color: var(--p-ground-2)!important;
    }
    .fm-bg-3 {
      background-color: var(--p-ground-3)!important;
    }
    .fm-bg-4 {
      background-color: var(--p-ground-4)!important;
    }

.fm-dark-mode {
    .fm-border-0 {
      border-color: var(--p-ground-0)!important;
    }
    .fm-border-1 {
      border-color: var(--p-ground-1)!important;
    }
    .fm-border-2 {
      border-color: var(--p-ground-2)!important;
    }
    .fm-border-3 {
      border-color: var(--p-ground-3)!important;
    }
    .fm-border-4 {
      border-color: var(--p-ground-4)!important;
    }

  } 