<app-comp-row title="Confirm Dialog">
	<app-wrap-confirm-dialog></app-wrap-confirm-dialog>
</app-comp-row>

<app-comp-row title="Confirm Popup">
	<app-wrap-confirm-popup></app-wrap-confirm-popup>
</app-comp-row>

<app-comp-row title="Dialog">
	<app-wrap-dialog></app-wrap-dialog>
</app-comp-row>

<app-comp-row title="Drawer">
	<app-wrap-drawer></app-wrap-drawer>
</app-comp-row>

<!-- <app-comp-row title="Dynamic Dialog">
	<app-wrap-dynamic-dialog></app-wrap-dynamic-dialog>
</app-comp-row>
 -->
<app-comp-row title="Popover">
	<app-wrap-popover></app-wrap-popover>
</app-comp-row>

<app-comp-row title="Tooltip">
	<app-wrap-tooltip></app-wrap-tooltip>
</app-comp-row>

<!-- <app-comp-row title="Tooltip">
	<app-wrap-popover></app-wrap-popover>
</app-comp-row>

<app-comp-row title="Tooltip">
	<app-wrap-tooltip></app-wrap-tooltip>
</app-comp-row>

 -->