<div class="card flex flex-wrap justify-center gap-2">
    <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="right" placeholder="Right" />
    <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="top" placeholder="Top" />
    <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="bottom" placeholder="Bottom" />
    <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="left" placeholder="Left" />
</div>
