<p>tw-grids works!</p>
<table class="grid-tabl">
	<thead>
		<tr>
			<th>Breakpoint prefix</th>
			<th>Minimum width</th>
			<th>CSS</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><div class="font-mono">sm</div></td>
			<td>40rem <em>(640px)</em></td>
			<td><div class="font-mono">&#64;media (width &gt;= 40rem)</div></td>
		</tr>
		<tr>
			<td><div class="font-mono">md</div></td>
			<td>48rem <em>(768px)</em></td>
			<td><div class="font-mono">&#64;media (width &gt;= 48rem)</div></td>
		</tr>
		<tr>
			<td><div class="font-mono">lg</div></td>
			<td>64rem <em>(1024px)</em></td>
			<td><div class="font-mono">&#64;media (width &gt;= 64rem)</div></td>
		</tr>
		<tr>
			<td><div class="font-mono">xl</div></td>
			<td>80rem <em>(1280px)</em></td>
			<td><div class="font-mono">&#64;media (width &gt;= 80rem)</div></td>
		</tr>
		<tr>
			<td><div class="font-mono">2xl</div></td>
			<td>96rem <em>(1536px)</em></td>
			<td><div class="font-mono">&#64;media (width &gt;= 96rem)</div></td>
		</tr>
	</tbody>
</table>
