
@use './fm-theme/styles/fm-main.scss';


/*
  
  putt all of your site level css here:
         @layer this-app {}
  
  learn more about how css layers work by reading the comments in 
        ./fm-theme/styles/fm-main.scss

*/

@layer this-app {

body {
    
    padding: 0px;
    margin: 0px;
    width: 100vw;

    background: var(--p-surface-50);
    color: var(--p-surface-900);
  }

  .fm-dark-mode {
    body {
      background: var(--p-surface-950);
      color: var(--p-surface-50);
    }
  }

  a {
      &:link {
        color: var(--p-severity-info-500);
      }
      &:hover {
        color: var(--p-severity-info-600);
      }
      &:active,&:visited {
        color: var(--p-severity-info-700);
      }

  }


  .scroll-panel-card {
    @apply border-gray-100 border rounded-lg p-4;
  }



  .stepper-demo-box {
    background-color: var(--p-blue-50);
    height: 90px;
    border: 1px solid var(--p-blue-200);
    padding: 2rem;
    display: flex;
    border-radius: .5rem;
    margin-bottom: 16px;
  }


}
