/* You can add global styles to this file, and also import other style files */


body, .fm-body-font {
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.fm-display-font {
	font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


body {
	background: var(--p-level-1);
  padding:0px;
  margin:0px;
  width: 100vw;
}


.text-white {
  color:#fff;
}

.bg-white {
	background-color:#fff;
}

.bg-level-floor {
  background-color: var(--p-level-floor);
}

.bg-level-1 {
  background-color: var(--p-level-1);
}

.bg-level-2 {
  background-color: var(--p-level-2);
}

.bg-level-3 {
  background-color: var(--p-level-3);
}

.bg-level-4 {
  background-color: var(--p-level-4);
}

.bg-fm-navy {
  background-color: var(--p-fm-brand-navy);
}

.flex-gap-1 {
  gap:.25rem
}

.flex-gap-2 {
  gap:.5rem
}

.flex-gap-3 {
  gap:1rem
}

.flex-gap-4 {
  gap:2rem
}
// @import "node_modules/tailwindcss/base" layer(tailwindcss);
// @import "node_modules/tailwindcss/components" layer(tailwindcss);
// @import "node_modules/tailwindcss/utilities" layer(tailwindcss);

// @tailwind base;
// @tailwind components;
// @tailwind utilities;