
@use './fm-theme/styles/fm-main.scss';


/*
  
  putt all of your site level css here:
         @layer this-app {}
  
  learn more about how css layers work by reading the comments in 
        ./fm-theme/styles/fm-main.scss

*/

@layer this-app {



a.link-external:after { 
    content:"\e9d4";
    display: inline-block;
    font-family: primeicons;
    //background: red;
    // height: 20px;
    // width: 20px;
   //position: absolute;
    right:0;
    top:-2px;
   // color:red;
    padding-left:6px;
    font-size:.6em;
}

a.link-external {
  //background: red!important;
  @apply text-info-600 dark:text-info-300;
  display: inline-block;
  position: relative;
  text-decoration: underline;
  cursor: pointer;
}


  .display-card {
    @apply bg-ground-0;
  }

  p-tabpanel, .test {
    background: red!important;
  }
// .p-tabpanels {
//   background-color: var(--p-surface-25)!important;
// }

//   .page-link {
//   @apply py-2 px-4 inline-block text-surface-400 font-semibold dark:text-surface-800;

//   &.active {
//     @apply bg-fm-white text-blue-400 rounded-t-lg dark:bg-surface-900 dark:text-blue-300;

//   }
// }


    .bg-ground-0 {
      background: var(--p-ground-0)!important;
    }
    .bg-ground-1 {
      background: var(--p-ground-1)!important;
    }
    .bg-ground-2 {
      background: var(--p-ground-2)!important;
    }
    .bg-ground-3 {
      background: var(--p-ground-3)!important;
    }
    .bg-ground-4 {
      background: var(--p-ground-4)!important;
    }


    .border-ground-0 {
      border-color: var(--p-ground-0)!important;
    }
    .border-ground-1 {
      border-color: var(--p-ground-1)!important;
    }
    .border-ground-2 {
      border-color: var(--p-ground-2)!important;
    }
    .border-ground-3 {
      border-color: var(--p-ground-3)!important;
    }
    .border-ground-4 {
      border-color: var(--p-ground-4)!important;
    }

    .text-ground-0 {
      color: var(--p-ground-0)!important;
    }
    .text-ground-1 {
      color: var(--p-ground-1)!important;
    }
    .text-ground-2 {
      color: var(--p-ground-2)!important;
    }
    .text-ground-3 {
      color: var(--p-ground-3)!important;
    }
    .text-ground-4 {
      color: var(--p-ground-4)!important;
    }


body {
    
    padding: 0px;
    margin: 0px;
    width: 100vw;

    background: var(--p-surface-50);
    color: var(--p-surface-900);

    

  }

  .fm-dark-mode {
    body {
      background: var(--p-surface-950);
      color: var(--p-surface-50);
    }

  }

  a {
      &:link {
        color: var(--p-severity-info-500);
      }
      &:hover {
        color: var(--p-severity-info-600);
      }
      &:active,&:visited {
        color: var(--p-severity-info-700);
      }

  }


  .scroll-panel-card {
    @apply border-gray-100 border rounded-lg p-4;
  }



  .stepper-demo-box {
    background-color: var(--p-blue-50);
    height: 90px;
    border: 1px solid var(--p-blue-200);
    padding: 2rem;
    display: flex;
    border-radius: .5rem;
    margin-bottom: 16px;
  }


}
