<app-comp-row title="Breadcrumbs">
	<p-breadcrumb class="max-w-full" [model]="breadCrumb_items" [home]="breadCrumb_home" />
</app-comp-row>
<app-comp-row title="Context Menu">
	<div class="card flex">
		<img #img src="https://primefaces.org/cdn/primeng/images/demo/nature/nature2.jpg" alt="Logo" aria-haspopup="true" class="w-full md:w-[30rem] rounded shadow-lg" />
		<p-contextmenu [target]="img" [model]="contextMenu_items" />
	</div>
</app-comp-row>
<app-comp-row title="Dock">
	Skipping this
</app-comp-row>
<app-comp-row title="Menu">
	<div style="max-width: 240px; width:100%">
		<p-menu [model]="menu_items" />
	</div>
</app-comp-row>
<app-comp-row title="Menu Bar">
	<p-menubar [model]="menuBar_items" />
</app-comp-row>
<app-comp-row title="Mega Menu">
	<p-megamenu [model]="megaMenu_items" />
</app-comp-row>
<app-comp-row title="Panel Menu">
	<p-panelmenu [model]="panelMenu_items" styleClass="w-full md:w-80" />
</app-comp-row>
<app-comp-row title="Steps">
	<div class="flex-row justify-start">
		<p-steps [activeIndex]="steps_active" [model]="steps_items" />
		<div class="flex mb-8 gap-2 justify-center pt-8">
			<p-button (click)="steps_active = 0" [rounded]="true" label="1" styleClass="w-8 h-8 p-0" [outlined]="steps_active !== 0" />
			<p-button (click)="steps_active = 1" [rounded]="true" label="2" styleClass="w-8 h-8 p-0" [outlined]="steps_active !== 1" />
			<p-button (click)="steps_active = 2" [rounded]="true" label="3" styleClass="w-8 h-8 p-0" [outlined]="steps_active !== 2" />
		</div>
	</div>
</app-comp-row>
<app-comp-row title="Tiered Menu">
	<p-tieredmenu [model]="tieredMenu_items" styleClass="w-full md:w-80" />
</app-comp-row>
