<div class="token-export-container">
  <h2>Token Export</h2>
  <div class="content">
    <table class="color-table">
      <thead>
        <tr>
          <th>Color</th>
          <!-- <th>Name & Level</th> -->
          <th>CSS Variable</th>
          <th>Tailwind Classes</th>
          <th>Color Values</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let token of colorTokens">
          <td [style.background-color]="token.value" class="first-col">
             <b [style.color]="token.textcolor">{{token.name}}-{{token.level}}</b>
            <!-- <div class="color-swatch" [style.background-color]="token.value"></div> -->
          </td>
       <!--    <td  [style.background-color]="token.value" >
           
          </td> -->
          <td>
            <code>var(--{{token.fullname}})</code>
          </td>
          <td>
            <code>bg-{{token.fullname}}</code><br>
            <code>text-{{token.fullname}}</code><br>
            <code>border-{{token.fullname}}</code>
          </td>
          <td>
            <code>{{token.hex}}</code><br>
            <code>{{token.hsl}}</code><br>
            <code>{{token.rgb}}</code>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> 