.token-export-container {
  padding: 1rem;
  
  h2 {
    margin-bottom: 1rem;
  }


  --surface-border: rgba(0, 0, 0, 0.06);
  --ui-blue-600: #0a5ac2;
  --ui-blue-50: #e9f5ff;
  --surface-section: #f0f0f0;
  --surface-card: #fff;
  
  .content {
    background-color: var(--surface-card);
    padding: 1rem;
    border-radius: 4px;
    overflow-x: auto;
  }

  code {
    user-select: all;
    font-family: monospace;
    font-size: .75em;
    padding: .125rem .25rem;
    color:var(--ui-blue-600);
   // background-color:var(--ui-blue-50);
    border-radius: 4px;
    margin-bottom: 4px;
    display: inline-block;
  }

  .color-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.875rem;

    .first-col {
        width: 15%;
    }

    b {
        font-weight: 600;
    }

    tr {
        border-bottom: 1px solid var(--surface-border);  
    }

    th, td {
      padding: 0.75rem;
      text-align: left;
      border-bottom: 1px solid var(--surface-border);
    }

    th {
      font-weight: 600;
      background-color: var(--surface-section);
    }

    .color-swatch {
      width: 40px;
      height: 40px;
      border-radius: 4px;
      border: 1px solid var(--surface-border);
    }

    td {
      vertical-align: top;
    //   padding: .1rem .75rem .5rem .75rem;
    }
  }
} 